body{
    margin:0;
    padding: 0;
    background-image: url("images/beige-texture.jpg");
    background-size: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
    font-size: 50px;
    text-align: center;
}
.content{
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(250, 250, 250,0.7);

}
.myImage{
    float: left;
    margin: 3%;
    width: 30%;
}
.info{
    float: left;
    width: 50%;
    margin: 3%;
    text-align: left;
    font-size: 25px;
}
.discription{
    background-color: rgba(11, 0, 0, 0.7);
    color:white;
    padding:10px;
    border-radius:50px;
}
.final{
    margin-left: 3%;
    width: 65%;
    float: left;
    font-size: 25px;
}
.aproved{
    width: 17%;
    float: left;
}